@use 'sass:map';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/*----Variable---- */
$radius: 4px;
$p: 10px;
$icon-font-size: 18px;

@mixin tablet {
  @media (min-width: 28em) {
    @content;
  }
}
/* ----Colors---- */
$trsnsparent-color: #4242427a;
$dark-bg: #06090f;
$header-bg: #161b22;
$border-color: #30363d;
$text-primary-color: #c9d1d9;
$text-secondary-color: #c9d1d9a4;
$icon-color: white;

$theme-colors: (
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
);

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $text-primary-color;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}

.icons {
  color: $icon-color;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  background-color: $dark-bg;
  .app {
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;

    header {
      padding: $p;
      display: flex;
      flex-wrap: wrap;
      z-index: 1;
      align-items: center;
      justify-content: space-between;
      background-color: $header-bg;
      box-shadow: 0px 3px 3px black, 0px 4px 4px black;
      .avatar {
        font-style: italic;
      }
      .user {
        font-size: 2em;
      }
      .navbar {
        left: 0;
        width: 100%;
        bottom: 0;
        position: absolute;
        background-color: $header-bg;
        .navbar-icon {
          color: $icon-color;
          font-size: 1.5em;
        }
        .navbar-links {
          margin: 0;
          display: flex;
          padding: $p;
          list-style: none;
          justify-content: space-between;
          li {
            padding: $p;
            border-radius: 14px;
            background-color: $dark-bg;
            a {
              display: flex;
              text-decoration: none;
              overflow: hidden;
              &:hover {
                .links {
                  color: $text-secondary-color;
                }
              }
              &:focus {
                .links {
                  width: 50px;
                  margin-left: 5px;
                  transform: scaleX(1);
                }
              }
              .icons {
                font-size: $icon-font-size;
              }
              .links {
                width: 0px;
                color: $text-primary-color;
                display: inline-block;
                transform-origin: -50% 50%;
                transform: scaleX(0);
                transition: width 0.5s, margin 0.2s, transform 0.2s 0.3s,
                  color 0.3s;
              }
            }
            &:hover {
              a {
                .links {
                  width: 50px;
                  margin-left: 5px;
                  transform: scaleX(1);
                }
              }
            }
            &:last-child {
              a {
                .links {
                  transform-origin: 110% 50%;
                }
              }
            }
          }
        }
      }
    }
    .pagination {
      top: 82%;
      width: 80%;
      display: flex;
      padding: $p;
      position: absolute;
      align-self: center;
      align-items: center;
      border-radius: 3em;
      justify-content: space-around;
      background-color: $trsnsparent-color;
      .icons {
        transition: transform 0.2s;
        &:focus {
          outline: none;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
      :first-child {
        // transform: translateX(0px);

        &:focus {
          // transform: translateX(-5px) scale(1.1);
          animation: dragLeft 0.5s ease-in 0s alternate infinite none running;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
      :last-child {
        &:focus {
          transform: translateX(5px) scale(1.1);
          animation: dragRight 0.5s ease-in 0s alternate infinite none running;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    main {
      flex: 0.9;
      padding: $p;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      .cards {
        border-radius: $radius;
        margin: 0px 0px 20px 0px;
        display: flex;
        box-shadow: 0px 5px 12px -3px black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
          margin: 0px;
          padding: 0px 10px 0px 10px;
          align-self: flex-start;
        }
        .year {
          margin: 0px;
          padding: 0px 10px 10px 10px;
          align-self: flex-start;
        }
        .poster {
          width: 100%;
          border-radius: $radius;
          @include tablet {
            max-height: 418px;
          }
        }
      }
      @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }

  .svg-dog-icon {
    width: 100px;
    color: gray;
  }
}

// Animations

@keyframes dragLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-5px);
  }
}

@keyframes dragRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(5px);
  }
}
